services:
  nginx:
    image: nginx
    container_name: nginx-container
    depends_on:
      - mysql
      - jspark
      - postgres
    restart: always
    volumes:
      - ./nginx/index:/usr/share/nginx/html
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - nginx-network
    ports:
      - 80:80
      - 443:443

  mysql:
    image: mysql:9.5
    container_name: mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    restart: always
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - backend-network
    ports:
      - 3306:3306

  jspark:
    build:
      context: ./jspark
      dockerfile: dockerfile
    container_name: jspark-container
    environment:
      JSPARK_TOKEN: ${JSPARK_TOKEN}
      JUPYTER_ENABLE_LAB: yes
      JUPYTERHUB_SERVICE_PREFIX: /jupyterlab/
    restart: always
    volumes:
      - jspark-home:/home/jovyan/work
    networks:
      - nginx-network
      - backend-network

  dbeaver:
    build:
      context: ./dbeaver
      dockerfile: dockerfile
    container_name: dbeaver-container
    restart: unless-stopped
    environment:
      - CLOUDBEAVER_ROOT_URI=/dbeaver/
    volumes:
      - dbeaver-workspace:/opt/cloudbeaver/workspace
    networks:
      - nginx-network
      - backend-network

  unitycatalog:
    image: unitycatalog/unitycatalog:main-a730f33
    container_name: unitycatalog-container
    volumes:
      - /etc/conf:/home/unitycatalog/etc/conf
      - unitycatalog-data:/home/unitycatalog/etc/data
    networks:
      - backend-network

  unitycatalog-ui:
    image: unitycatalog/unitycatalog-ui:main-aadc6fc
    container_name: unitycatalog-ui-container
    ports:
      - "3000:3000"
    networks:
      - nginx-network
      - backend-network
      
  postgres:
    image: postgres:18.1-bookworm
    container_name: postgres-container
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: development
    restart: always
    volumes:
      - postgres-data:/var/lib/postgresql
      - ./postgres/server-backups:/var/lib/postgresql/backups
    networks:
      - backend-network
    ports:
      - 5432:5432

  pulsar:
    image: apachepulsar/pulsar:4.1.2 
    container_name: pulsar-container
    command: bin/pulsar standalone
    restart: always
    environment:
      PULSAR_STANDALONE_USE_ZOOKEEPER: 1
      
    volumes:
      - pulsar-data:/pulsar/data
      - pulsar-conf:/pulsar/conf
    ports:
      - "6650:6650" # Pulsar Broker port
    networks:
      - backend-network

  dekaf:
    image: visortelle/dekaf:1.0.0
    container_name: dekaf-container
    restart: always
    environment:
      DEKAF_PULSAR_WEB_URL: "http://pulsar-container:8080"
      DEKAF_PULSAR_BROKER_URL: "pulsar://pulsar-container:6650"
      DEKAF_BASE_PATH: /dekaf
      DEKAF_PUBLIC_BASE_URL: "http://home-lab/dekaf"
    volumes:
      - dekaf-library:/dekaf/data/library
    networks:
      - nginx-network
      - backend-network
    depends_on:
      - pulsar

  grafana:
    image: grafana/grafana-oss
    container_name: grafana-container
    restart: unless-stopped
    environment:
      - GF_SERVER_ROOT_URL=http://localhost/grafana/ 
      - GF_SERVER_SERVE_FROM_SUB_PATH=true 
      - GF_SERVER_HTTP_PORT=5000
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - nginx-network
      - backend-network

  adguardhome:
    image: adguard/adguardhome
    container_name: adguardhome-container
    restart: unless-stopped

    ports:
      - "53:53/tcp"
      
    # Mount volumes for persistent data
    volumes:
      - adguard-work:/opt/adguardhome/work
      - adguard-conf:/opt/adguardhome/conf
      - /etc/localtime:/etc/localtime:ro
    networks:
      - nginx-network

volumes:
  dbeaver-workspace:
    external: true
  jspark-home:
    external: true
  pgadmin-data:
    external: true
  postgres-data:
    external: true
  mysql-data:
    external: true
  pulsar-data:
    external: true
  pulsar-conf:
    external: true
  dekaf-library:
    external: true
  adguard-work:
    external: true
  adguard-conf:
    external: true
  grafana-data:
    external: true
  unitycatalog-data:
    external: true

networks:
  nginx-network:
    driver: bridge
  backend-network:
    driver: bridge