name: CI Pipeline

on:
  pull_request:
    branches: [ "main" ]

jobs:
  unit-tests:
    runs-on: debian-latest 

    steps:
      - uses: actions/checkout@v4

      - name: Validate compose.yaml configuration
        run: docker compose config --quiet && printf "OK\n" || fail "AUDIT FAILED!\n"
      
      - name: Validate json files in repo
        run: ./.github/workflows/scripts/validate-json-files.sh
        shell: bash

  functional-tests:
    runs-on: debian-latest 
    env:
      POSTGRES_USER: ${{ vars.POSTGRES_USER }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
      JSPARK_TOKEN: ${{ secrets.JSPARK_TOKEN }}

      
    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v3
        with:
            path: ./docker
            key: ${{ runner.os }}-${{ github.repository }}
            restore-keys: |
              ${{ runner.os }}-${{ github.repository }}
              ${{ runner.os }}

      - name: Build Project
        run: ./build.sh 'cicd'
        shell: bash

      - name: Test services connection
        run: ./.github/workflows/scripts/check-service-connection.sh
        shell: bash
      
      - name: Save cache
        uses: actions/cache@v3
        with:
          path: ./docker
          key: ${{ runner.os }}-${{ github.repository }}
